SUPABASE_URL=https://sqchlnhkceztcznkjctg.supabase.co
SUPABASE_SECRET_KEY=
NEXT_PUBLIC_SUPABASE_URL=https://sqchlnhkceztcznkjctg.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
NEXT_PUBLIC_SITE_URL=https://alexis-wild-one-guided-safari-v4.vercel.app

